@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}
a {
  text-decoration: none;
}
header {
  padding: 20px;
  background-color: #eef5ff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9999;
}
.logo a{
    font-size: 30px;
    text-transform: uppercase;
    color: #783950;
    font-weight: 600;
}

header nav ul li a {
  color: #ac657f;
  font-weight: 600;
  font-size: 18px;
  transition: .8s ease;
}

header nav ul li a:hover,
header nav ul li a.active{
    color: #783950;
    position: relative;
}

header nav ul li a:hover::after,
header nav ul li a.active::after{
    content: "";
    position: absolute;
    width: 50%;
    height: 3px;
    background-color: #783950;
    bottom: -4px;
    left: 0;
    animation: animation .8s ;
}

@keyframes animation {
    0%{
        width: 0;
    }
    100%{
        width: 50%;
    }
}

.search, .cart{
    color: #70686b;
    cursor: pointer;
}
.cart{
    position: relative;
}
.cart span{
    position: absolute;
    top: -5px;
    font-size: 14px;
    color: #783950;
    font-weight: 500;
}

#hero .card{
    height: 100vh ;
}

.card-img-overlay{
    padding-left: 40px !important;
}
.card-img-overlay h1{
    color: #ac657f;
    font-size: 80px;
}
.btn-shop{
    border: 1px solid #ac657f;
    padding: 10px 20px;
    color: #783950;
    transition: .8s ease-in-out;
}
.btn-shop:hover{
    background-color: #783950;
    color: #eef5ff;
}

#products h1{
    color: #783950;
}

#products .product{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #783950;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 10px;
    transition: .8s ease;
}
#products .product:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.08);
}
.product img{
    border-radius: 20px;
    height: 200px;
}

#products .product .des{
    padding: 10px 0;
}
#products .product .des span{
    color: #606063;
    font-size: 12px;
}

#products .product .des h3{
    padding-right: 7px;
    color: #1a1a1a;
    /* font-size: 1px; */
}
#products .product .des i{
    color: rgb(255, 181, 25);
    font-size: 12px;
}

.price{
    padding-top: 10px;
    font-size: 16px;
    font-weight: 700;
    color: #783950;
}
.new-price{
    padding-top: 10px;
    font-size: 20px;
    font-weight: 700;
    color: rgb(220, 9, 47);
}

#products .product .des .fa-shopping-cart{
    font-size: 18px;
    color: #f7f4f4;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: #ac657f;
    border: 1px solid #f7f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination-btn{
    border: 1px solid #f7f4f4 ;
    margin-left: 2px;
    color: #ac657f;
}
.pagination button{
    margin: 0 5px;
    padding: 5px 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    color: #333;
    border-radius: 8px;
    transition: .8s ease;
}
.pagination button.active {
    background-color: #ac657f;
    color: #fff;
}
.pagination button:hover{
    background-color: #783950;
    color: #fff;
}
.product-img-list{
    width: 190px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.product-img-list img{
    width: 100%;
    object-fit: contain;
    cursor: pointer;
}
.product-description{
    padding: 20px;
    width: 500px;
}
.product-description h2{
    font-size: 50px;
}

.add-btn{
    border: 1px solid #ac657f;
    padding: 10px 20px;
    color: #783950;
    transition: .8s ease-in-out;
}
.add-btn:hover{
    background-color: #783950;
    color: #eef5ff;
}
.buyNowBtn{
    border: 1px solid #ac657f;
    padding: 10px 20px;
    background-color: #783950;
    color: #eef5ff;
    transition: .8s ease-in-out;
}
